<pp-app-header></pp-app-header>

<app-task-toolbar
  [activeFiltersCount]="activeCategoryFilters.length"
  (searchChange)="onSearchChange($event)"
  (filterClick)="openCategoryModal()"
  (sortChange)="onSortChange($event)">
</app-task-toolbar>

<ion-content class="ion-padding">

  <ion-list *ngIf="tasks.length; else empty" class="task-list">

    <ion-item-sliding
      *ngFor="let task of tasks"
      class="task-sliding"
      (ionItemSlidingDidOpen)="task.swiped = true"
      (ionItemSlidingDidClose)="task.swiped = false">

      <!-- ===== SWIPE IZQUIERDA → DESCARTAR ===== -->
      <ion-item-options side="start">
        <ion-item-option
          color="warning"
          expandable
          (click)="discardTask(task.id)">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          Descartar
        </ion-item-option>
      </ion-item-options>

      <!-- ===== ITEM ===== -->
      <ion-item lines="none" class="task-item">

        <div class="label-content">

          <!-- TEXTO -->
          <ion-label>
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
            <ion-badge color="medium">
              {{ task.category }}
            </ion-badge>
            
            
          </ion-label>

          <!-- ACCIONES INLINE -->
          <div class="inline-actions">

<ion-button
  fill="clear"
  size="small"
  (click)="openEdit(task)">
  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
</ion-button>
            <ion-button
              fill="clear"
              size="small"
              color="danger"
              (click)="deleteTask(task.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

          </div>

        </div>

      </ion-item>

      <!-- ===== SWIPE DERECHA → COMPLETAR ===== -->
      <ion-item-options side="end">
        <ion-item-option
          color="success"
          expandable
          (click)="completeTask(task.id)">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Completar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <!-- ===== EMPTY ===== -->
  <ng-template #empty>
    <div class="empty-state">
      <ion-icon name="clipboard-outline"></ion-icon>
      <p>No tienes tareas asignadas</p>
    </div>
  </ng-template>

</ion-content>