<pp-app-header></pp-app-header>

<app-task-toolbar
  [activeFiltersCount]="activeCategoryFilters.length"
  (searchChange)="onSearchChange($event)"
  (filterClick)="openCategoryModal()"
  (sortChange)="onSortChange($event)">
</app-task-toolbar>

<ion-content class="ion-padding">

  <!-- ===== FILTROS ===== -->


  <!-- ===== LISTA ===== -->
  <ion-list *ngIf="tasks.length; else empty" class="task-list">

    <ion-item-sliding
      *ngFor="let task of tasks"
      class="task-sliding">

      <!-- ===== SWIPE → VOLVER ===== -->
      <ion-item-options side="start">
        <ion-item-option
          color="warning"
          expandable
          (click)="returnTask(task.id)">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          Volver
        </ion-item-option>
      </ion-item-options>

      <!-- ===== ITEM ===== -->
      <ion-item lines="none" class="task-item">

        <ion-label>
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>

          <ion-badge color="success">
            {{ task.category }}
          </ion-badge>
        </ion-label>

        <!-- Estado visual -->
        <ion-icon
          name="checkmark-circle-outline"
          class="completed-icon">
        </ion-icon>

      </ion-item>

    </ion-item-sliding>

  </ion-list>

  <!-- ===== EMPTY ===== -->
  <ng-template #empty>
    <div class="empty-state">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <p>No hay tareas completadas</p>
    </div>
  </ng-template>

</ion-content>