<ion-header>
  <pp-app-header></pp-app-header>
  <app-task-toolbar
    [activeFiltersCount]="activeCategoryFilters.length"
    (searchChange)="onSearchChange($event)"
    (filterClick)="openCategoryModal()"
    (sortChange)="onSortChange($event)">
  </app-task-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ===== LISTA ===== -->
  <ion-list *ngIf="tasks.length; else empty" class="task-list">

    <ion-item *ngFor="let task of tasks" lines="none" class="task-item">

      <div class="task-content">
        
        <!-- TEXTO -->
        <ion-label class="task-label">
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <ion-badge color="success">
            {{ task.category }}
          </ion-badge>
        </ion-label>

        <!-- ACCIONES -->
        <div class="task-actions">
          <ion-icon
            [icon]="completedIcon"
            class="completed-icon">
          </ion-icon>
          
          <ion-button 
            fill="solid" 
            color="warning" 
            size="small" 
            class="action-button return-button"
            (click)="returnTask(task.id)">
            <ion-icon slot="start" [icon]="backIcon"></ion-icon>
            Volver
          </ion-button>
        </div>

      </div>

    </ion-item>

  </ion-list>

  <!-- ===== EMPTY ===== -->
  <ng-template #empty>
    <div class="empty-state">
      <ion-icon [icon]="doneIcon"></ion-icon>
      <p>No hay tareas completadas</p>
    </div>
  </ng-template>

</ion-content>