<ion-header>
  <ion-toolbar>
    <ion-title>Crear tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Título"
      labelPlacement="stacked"
      [(ngModel)]="title"
      placeholder="Ej: Comprar mercado">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea
      label="Descripción"
      labelPlacement="stacked"
      [(ngModel)]="description"
      placeholder="Opcional">
    </ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="createTask()">
    Crear tarea
  </ion-button>

</ion-content>