<!-- ===== HEADER ===== -->
<ion-header>
  <pp-app-header></pp-app-header>
  <app-task-toolbar [showCreate]="true" [activeFiltersCount]="activeCategoryFilters.length" (create)="toggleCreateForm()"
    (searchChange)="onSearchChange($event)" (filterClick)="openCategoryModal()" (sortChange)="onSortChange($event)">
  </app-task-toolbar>
</ion-header>

<!-- ===== CONTENT ===== -->
<ion-content class="ion-padding">

  <!-- FORM CREAR -->
  <div *ngIf="showCreateForm" class="create-form-wrapper">
    <app-task-form [categories]="categories" (create)="createTask($event); showCreateForm = false">
    </app-task-form>
  </div>

  <hr class="section-divider">

  <!-- LISTA -->
  <ion-list *ngIf="tasks.length; else empty" class="task-list">

    <ion-item *ngFor="let task of tasks" lines="none" class="task-item">

      <div class="task-content">
        
        <!-- TEXTO -->
        <ion-label class="task-label">
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <ion-badge color="medium">
            {{ task.category }}
          </ion-badge>
        </ion-label>

        <!-- ACCIONES -->
        <div class="task-actions">
          <ion-button 
            fill="solid" 
            color="success" 
            size="small" 
            class="action-button assign-button"
            (click)="assignTask(task.id)">
            <ion-icon slot="start" [icon]="checkmarkCircleIcon"></ion-icon>
            Asignar
          </ion-button>
        </div>

      </div>

    </ion-item>

  </ion-list>

  <!-- EMPTY -->
  <ng-template #empty>
    <div class="empty-state">
      <ion-icon [icon]="clipboardIcon" ></ion-icon>
      <p>No hay tareas pendientes</p>
    </div>
  </ng-template>

</ion-content>