<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tab-bar slot="bottom" class="apple-tab-bar">
    <ion-tab-button tab="create">
      <ion-icon [icon]="addIcon"></ion-icon>
      <ion-label>Crear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-tasks">
      <ion-icon [icon]="listIcon"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed">
      <ion-icon [icon]="doneIcon"></ion-icon>
      <ion-label>Hecho</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>