<ion-tabs>
  <ion-tab-bar slot="bottom" class="apple-tab-bar">

    <ion-tab-button tab="create" routerLink="/tabs/create">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Crear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-tasks" routerLink="/tabs/my-tasks">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed" routerLink="/tabs/completed">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Hecho</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>