<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="create" routerLink="/tabs/create">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Crear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-tasks" routerLink="/tabs/my-tasks">
      <ion-icon name="list"></ion-icon>
      <ion-label>Mis tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed" routerLink="/tabs/completed">
      <ion-icon name="checkmark-done"></ion-icon>
      <ion-label>Completadas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>