
ion-router-outlet {
  padding-bottom: 100px; 
}

.apple-tab-bar {

  z-index: 10; 

  contain: none; 
}


ion-tab-button {
  --color: #8e8e93;
  --color-selected: #6d28d9;
  

  ion-label {
    display: none; 
    transition: all 0.3s ease;
  }


  &.tab-selected {
    background: rgba(109, 40, 217, 0.1);
    border-radius: 16px;
    
    ion-label {
      display: block;
      margin-left: 8px;
    }
  }
}