<ion-item>
  <ion-select
    placeholder="Filtrar por categoría"
    [(ngModel)]="selectedCategory"
    (ionChange)="onCategoryChange()">

    <ion-select-option [value]="undefined">
      Todas
    </ion-select-option>

    <ion-select-option
      *ngFor="let cat of categories"
      [value]="cat">
      {{ cat }}
    </ion-select-option>

  </ion-select>
</ion-item>

<ion-item>
  <ion-input
    placeholder="Buscar por título o descripción"
    [(ngModel)]="searchText"
    (ionInput)="onSearchChange()">
  </ion-input>
</ion-item>

<ion-button expand="full" fill="outline" (click)="clearFilters()">
  Limpiar filtros
</ion-button>