// Branding Colors 
:root {

  --ion-color-primary: #6d28d9;       /* Morado principal */
  --ion-color-primary-rgb: 109, 40, 217;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  --ion-color-secondary: #fcd34d;     /* Dorado / acentos */
  --ion-color-secondary-rgb: 252, 211, 77;
  --ion-color-secondary-contrast: #000000;

  --ion-color-tertiary: #ffffff;      /* Blanco limpio */
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #eee6e6;

// Grises neutros para textos y detalles
  --ion-color-medium: #a3a3a3;        /* Texto secundario */
  --ion-color-light: #f5f5f7;         /* Fondo de secciones */
}