<ion-card class="form-card">
  <ion-card-content>
    <div class="form-header">
      <h2>Nueva Tarea</h2>
      <div class="form-guide">
        <ion-icon name="sparkles-outline"></ion-icon>
        <p>Organiza tu día indicando los detalles y la categoría de tu actividad.</p>
      </div>
    </div>

    <div class="input-group">
      <ion-input
        label="Título de la tarea"
        labelPlacement="stacked"
        placeholder="Ej: Comprar mercado"
        [(ngModel)]="title"
        fill="outline"
        class="custom-input">
      </ion-input>

      <ion-textarea
        label="Descripción"
        labelPlacement="stacked"
        placeholder="Añade detalles adicionales..."
        [autoGrow]="true"
        [(ngModel)]="description"
        fill="outline"
        class="custom-input">
      </ion-textarea>

      <ion-select
        label="Categoría"
        labelPlacement="stacked"
        interface="popover"
        toggleIcon="chevron-down-outline"
        [(ngModel)]="category"
        fill="outline"
        class="custom-input">
        <ion-select-option *ngFor="let cat of categories" [value]="cat">
          {{ cat }}
        </ion-select-option>
      </ion-select>
    </div>

<ion-button
  expand="block"
  class="create-button"
  [disabled]="!isFormValid" 
  (click)="submit()"
  mode="ios">
  Crear tarea
  <ion-icon slot="end" [name]="isFormValid ? 'add-circle' : 'lock-closed-outline'"></ion-icon>
</ion-button>
  </ion-card-content>
</ion-card>