<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Editar tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-btn" (click)="close()" mode="ios">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="input-group">

    <ion-input
      label="Título de la tarea"
      labelPlacement="stacked"
      fill="outline"
      [(ngModel)]="title"
      class="custom-input"
      placeholder="Escribe el nombre...">
    </ion-input>

    <br />

    <ion-textarea
      label="Descripción"
      labelPlacement="stacked"
      fill="outline"
      [autoGrow]="true"
      [(ngModel)]="description"
      class="custom-input"
      placeholder="Detalles adicionales (opcional)">
    </ion-textarea>

    <br />

    <ion-select
      label="Categoría"
      labelPlacement="stacked"
      fill="outline"
      interface="popover"
      [(ngModel)]="category"
      class="custom-input">

      <ion-select-option *ngFor="let cat of categories" [value]="cat">
        {{ cat }}
      </ion-select-option>

    </ion-select>

  </div>

  <br />

  <ion-button
    expand="block"
    class="save-button"
    (click)="save()"
    mode="ios">

    Guardar cambios
    <ion-icon slot="end" [icon]="checkIcon"></ion-icon>

  </ion-button>
</ion-content>