<ion-toolbar class="apple-header">
  <!-- ===== CREAR ===== -->
  <ion-buttons slot="start" *ngIf="showCreate">
    <ion-button fill="solid" (click)="create.emit()">
      <ion-icon [icon]="addIcon"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- ===== SEARCH ===== -->
  <div class="search-wrapper">
    <ion-searchbar
      [(ngModel)]="searchText"
      (ionInput)="onInput($event.detail.value!)"
      placeholder="Buscar tareas"
      animated
      showClearButton="always"
      debounce="0">
    </ion-searchbar>

    <!-- Spinner mientras escribe -->
    <ion-spinner *ngIf="loading" name="dots" class="search-spinner"></ion-spinner>
  </div>

  <!-- ===== ACTIONS ===== -->
  <ion-buttons slot="end">
    <!-- FILTER -->
    <ion-button fill="solid" (click)="filterClick.emit()">
      <ion-icon [icon]="funnelIcon"></ion-icon>
      <ion-badge *ngIf="activeFiltersCount" class="filter-badge">
        {{ activeFiltersCount }}
      </ion-badge>
    </ion-button>

    <!-- SORT -->
    <ion-button fill="solid" (click)="toggleSort()">
      <ion-icon [icon]="sortDirection === 'ASC' ? arrowUpIcon : arrowDownIcon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>