<ion-toolbar class="apple-header">

  <!-- ===== CREAR (SOLO CREATE PAGE) ===== -->
  <ion-buttons slot="start" *ngIf="showCreate">
    <ion-button fill="clear" (click)="create.emit()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- ===== SEARCH ===== -->
  <div class="search-wrapper">
    <ion-searchbar
      [value]="searchText"
      (ionInput)="onSearch($event.detail.value!)"
      placeholder="Buscar tareas"
      debounce="300"
      animated>
    </ion-searchbar>
  </div>

  <!-- ===== ACTIONS ===== -->
  <ion-buttons slot="end">

    <!-- FILTER -->
    <ion-button fill="clear" (click)="filterClick.emit()">
      <ion-icon name="funnel-outline"></ion-icon>

      <ion-badge
        *ngIf="activeFiltersCount"
        class="filter-badge">
        {{ activeFiltersCount }}
      </ion-badge>
    </ion-button>

    <!-- SORT -->
    <ion-button fill="clear" (click)="toggleSort()">
      <ion-icon
        [name]="sortDirection === 'ASC'
          ? 'arrow-up-outline'
          : 'arrow-down-outline'">
      </ion-icon>
    </ion-button>

  </ion-buttons>

</ion-toolbar>