.search-wrapper {
  position: relative;

  ion-searchbar {
    --background: var(--ion-color-light);
    --border-radius: 14px;
    --box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }

  .search-spinner {
    position: absolute;
    right: 46px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--ion-color-primary);
    z-index: 2;
  }
}

.filter-badge {
  font-size: 11px;
  --background: var(--ion-color-primary);
  color: #fff;
}