<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Filtrar por categoría</ion-title>
    <ion-buttons slot="end">
      <ion-button class="clear-btn" (click)="clear()">Limpiar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="list-container">
    <ion-list lines="none">
      <ion-item
        button
        detail="false"
        *ngFor="let category of categories"
        (click)="toggle(category)"
        [class.selected]="isSelected(category)"
        class="category-item">
        
        <ion-icon 
          [name]="isSelected(category) ? 'folder-open' : 'folder-outline'" 
          slot="start" 
          class="category-icon">
        </ion-icon>

        <ion-label>
          {{ category }}
        </ion-label>

        <ion-icon
          *ngIf="isSelected(category)"
          name="checkmark-circle"
          slot="end"
          class="check-icon animated-pop">
        </ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <ion-button
    expand="block"
    class="apply-button"
    (click)="apply()"
    mode="ios">
    Aplicar filtros
  </ion-button>
</ion-content>